<md-dialog class="tree-selector-dialog common-dialog" aria-label="Dialog">


    <md-toolbar class="md-accent">
        <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
            <span class="title">Select item</span>
            <md-button class="md-icon-button" ng-click="vm.closeDialog()">
                <md-icon md-font-icon="icon-close" aria-label="Close dialog"></md-icon>
            </md-button>
        </div>
    </md-toolbar>



    <md-dialog-content ms-scroll>
        <td-tree-view ng-if="vm.items" items="vm.items" options="vm.treeOptions" on-select-item="vm.selectItem(item, event, callBack)">
        </td-tree-view>
    </md-dialog-content>


    <md-dialog-actions layout="row" layout-align="space-between center">
        <div layout="row" layout-align="start center">
            &nbsp;
        </div>
        <div layout="row" layout-align="start center">
            <md-button ng-click="vm.closeDialog()" class="send-button md-raised" aria-label="SAVE">
                CLOSE
            </md-button>
        </div>

    </md-dialog-actions>


</md-dialog>