#systemsettings {
  .center {
    .header {
      position: relative;
      height: 76px;
      min-height: 76px;
      max-height: 76px;
      padding: 5px;

      .header-content {
        height: 100%;

        .breadcrumb {
          font-size: 18px;
          padding-left: 10px;

          span {
            cursor: pointer;

            md-icon {
              cursor: default;
            }

            &:last-child {
              md-icon {
                display: none;
              }
            }
          }

          .separator {
            margin-left: 8px;
            margin-right: 8px;
          }
        }

        .search-input-wrapper {
          position: relative;
          margin-right: 100px;

          label {
            padding-right: 4px;
            cursor: pointer;

            md-icon {
              color: rgba(255, 255, 255, 0.8);
            }
          }

          md-input-container {
            .md-errors-spacer {
              display: none;
            }

            input {
              border-bottom: 1px solid rgba(255, 255, 255, 0.8);
              color: rgba(255, 255, 255, 0.8);
              width: 240px;

              &::placeholder {
                color: rgba(255, 255, 255, 0.8);
              }

              &:focus {
                border-bottom: 1px solid white;
                color: white;
              }
            }
          }
        }
      }

      .add-file-button {
        position: absolute;
        top: 10px;
        right: 0;
      }
    }

    .content {
      padding: 0;
      background: #ffffff;
    }
  }

  .file-icon {
    .icon-folder {
      &:before {
        color: #ffb300;
      }
    }

    .icon-document {
      &:before {
        color: #1565c0;
      }
    }

    .icon-spreadsheet {
      &:before {
        color: #4caf50;
      }
    }
  }
}

// RESPONSIVE
@media screen and (max-width: $layout-breakpoint-md) {
  #systemsettings {
    .center {
      .header {
        .header-content {
          .breadcrumb {
            font-size: 18px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: $layout-breakpoint-sm) {
  #systemsettings {
    .center {
      .header {
        .header-content {
          .breadcrumb {
            font-size: 16px;
          }
        }
      }
    }
  }
}
