.data-capture {
  &.page-layout.simple.fullwidth {
    /*
        min-height: none; 
        height: auto; */

    .header {
      height: 50px;
      min-height: 50px;
      max-height: 50px;
      padding: 8px 8px 8px 0 !important;

      .save-form-button {
        position: absolute;
        right: 10px;
      }
    }

    .label-chips {
      .md-chips {
        md-chip {
          .label-chip {
          }

          ._md-chip-remove-container {
            right: 5px;
            top: 5px;
            line-height: 20px;
          }
        }
      }
    }
  }
}
