#add-new-license {
  text-align: justify;
  .header {
    .organization-title {
      font-size: 24px;
    }

    .content {
      background: #fafafa;
    }
  }
  .tab-content {
    .title {
      font-size: 16px;
    }
  }
}
