<md-dialog class="common-dialog" aria-label="Card Card Dialog">
    <form name="contactForm" class="md-inline-form taskCardForm" novalidate>
        <md-toolbar class="md-accent">
            <div class="md-toolbar-tools">
                <label ng-if="vm.isNew">Add Contact</label>
                <label ng-if="!vm.isNew">Update Contact</label>
                <!-- TOOLBAR -->

                <span flex></span>
                <md-button class="md-icon-button" ng-click="vm.closeDialog()" aria-label="Close Dialog">
                    <md-icon md-font-icon="icon-close"></md-icon>
                </md-button>

            </div>
        </md-toolbar>

        <md-dialog-content ms-scroll>
            <div class="sections">
                <div layout="row" flex="100">
                    <div layout="column" flex="50" class="mr-10">
                        <div flex class="description">
                            <md-input-container class="md-block">
                                <label>Purpose</label>
                                <input class="md-title" name="purpose" ng-model="vm.mangroveContactInfo.purpose" required autocomplete="off">
                                <div ng-messages="contactForm.purpose.$error" role="alert">
                                    <div ng-message="required">
                                        <span>This field is required</span>
                                    </div>
                                </div>
                            </md-input-container>
                        </div>
                    </div>
                    <div layout="column" flex="50">
                        <div flex class="description">
                            <md-input-container class="md-block">
                                <label>Name</label>
                                <input class="md-title" name="name" ng-model="vm.mangroveContactInfo.name" required autocomplete="off">
                                <div ng-messages="contactForm.name.$error" role="alert">
                                    <div ng-message="required">
                                        <span>This field is required</span>
                                    </div>
                                </div>
                            </md-input-container>
                        </div>
                    </div>
                </div>

                <div layout="row" flex="100">
                    <div layout="column" flex="50" class="mr-10">
                        <div flex class="description">
                            <md-input-container class="md-block">
                                <label>Department</label>
                                <input class="md-title" name="department" ng-model="vm.mangroveContactInfo.department" required autocomplete="off">
                                <div ng-messages="contactForm.department.$error" role="alert">
                                    <div ng-message="required">
                                        <span>This field is required</span>
                                    </div>
                                </div>
                            </md-input-container>
                        </div>
                    </div>
                    <div layout="column" flex="50">
                        <div flex class="description">
                            <md-input-container class="md-block">
                                <label>Designation</label>
                                <input class="md-title" name="designation" ng-model="vm.mangroveContactInfo.designation" required autocomplete="off">
                                <div ng-messages="contactForm.designation.$error" role="alert">
                                    <div ng-message="required">
                                        <span>This field is required</span>
                                    </div>
                                </div>
                            </md-input-container>
                        </div>
                    </div>
                </div>

                <div layout="row" flex="100">
                    <div layout="column" flex="50" class="mr-10">
                        <div flex class="description">
                            <md-input-container class="md-block">
                                <label>Email</label>
                                <input class="md-title" name="email" ng-model="vm.mangroveContactInfo.email" required autocomplete="off">
                                <div ng-messages="contactForm.email.$error" role="alert">
                                    <div ng-message="required">
                                        <span>This field is required</span>
                                    </div>
                                </div>
                            </md-input-container>
                        </div>
                    </div>
                    <div layout="column" flex="15" class="mr-10">
                        <div flex class="description">
                            <md-input-container class="md-block">
                                <label>Country Code</label>
                                <input class="md-title" name="countryCode" ng-model="vm.mangroveContactInfo.countryCode" required autocomplete="off">
                                <div ng-messages="contactForm.countryCode.$error" role="alert">
                                    <div ng-message="required">
                                        <span>This field is required</span>
                                    </div>
                                </div>
                            </md-input-container>
                        </div>
                    </div>
                    <div layout="column" flex>
                        <div flex class="description">
                            <md-input-container class="md-block">
                                <label>Phone</label>
                                <input class="md-title" name="phone" ng-model="vm.mangroveContactInfo.phone" required autocomplete="off">
                                <div ng-messages="contactForm.phone.$error" role="alert">
                                    <div ng-message="required">
                                        <span>This field is required</span>
                                    </div>
                                </div>
                            </md-input-container>
                        </div>
                    </div>
                </div>
            </div>

        </md-dialog-content>
    </form>
    <md-dialog-actions layout="row" layout-align="space-between center">
        <div layout="row" layout-align="start center">
            <md-button ng-click="vm.addMangroveContactInfo()" class="send-button md-accent md-raised" ng-disabled="contactForm.$invalid" aria-label="SAVE">
                <span ng-if="vm.isNew">ADD</span>
                <span ng-if="!vm.isNew">UPDATE</span>
            </md-button>
        </div>
        <div layout="row">
            <md-button class="md-icon-button" ng-click="vm.deleteOrganizationAdminUser($event)" aria-label="Delete" ng-disabled="vm.isNew">
                <md-icon md-font-icon="icon-account-alert"></md-icon>
                <md-tooltip><span>INACTIVATE</span></md-tooltip>
            </md-button>
        </div>
    </md-dialog-actions>
</md-dialog>