#common-detail-entry {
  .center {
    position: relative;

    .header {
      position: relative;
      height: 40px;
      min-height: 40px;
      max-height: 40px;
      padding: 2px;

      .header-content {
        height: 100%;

        .header-title {
          font-size: 18px;
          padding-left: 10px;
        }
      }
    }

    .content {
      padding: 0;
      background: #fdfdfd;
    }
  }
}
