<div id="reset-password" class="flex-scrollable" layout="column" ms-scroll>
    <div id="reset-password-form-wrapper" layout="column" layout-align="center center">
        <div id="reset-password-form" class="md-whiteframe-8dp">
            <div class="logo md-accent-bg">
                <span>TD</span>
            </div>

            <div class="title">Reset your password</div>

            <form name="resetPasswordForm" novalidate>
                <md-input-container class="md-block" md-no-float>
                    <label>Code(send to your email or mobile)</label>
                    <input type="text" name="code" ng-model="vm.resetInfo.code" required>
                    <div ng-messages="resetPasswordForm.code.$error" role="alert" multiple>
                        <div ng-message="required">
                            <span>Code field is required</span>
                        </div>

                    </div>
                </md-input-container>

                <md-input-container class="md-block" md-no-float>
                    <label>Password</label>
                    <input type="password" name="password" ng-model="vm.resetInfo.password" required>
                    <div ng-messages="resetPasswordForm.password.$error" role="alert">
                        <div ng-message="required">
                            <span>Password field is required</span>
                        </div>
                    </div>
                </md-input-container>

                <md-input-container class="md-block" md-no-float>
                    <label>Password (Confirm)</label>
                    <input type="password" name="passwordConfirm" ng-model="vm.resetInfo.passwordConfirm" compare-to="vm.resetInfo.password" required>
                    <div ng-messages="resetPasswordForm.passwordConfirm.$error" role="alert" md-auto-hide="false">
                        <div ng-message="required" ng-if='resetPasswordForm.passwordConfirm.$touched'>
                            <span>Password (Confirm) field is required</span>
                        </div>

                        <div ng-message="compareTo" ng-if='resetPasswordForm.passwordConfirm.$touched'>
                            <span>Password doesnot match</span>
                        </div>

                    </div>
                </md-input-container>

                <md-button class="md-raised md-accent submit-button" aria-label="UPDATE MY PASSWORD" ng-click="vm.resetPassword()" ng-disabled="resetPasswordForm.$invalid || resetPasswordForm.$pristine">
                    RESET MY PASSWORD
                </md-button>
            </form>
            <div class="login" layout="row" layout-align="center center">
                <a class="link" ui-sref="app.pages_auth_forgot-password">Send code again</a>
            </div>
            <div class="login" layout="row" layout-align="center center">
                <a class="link" ui-sref="app.pages_auth_login-v2">Go back to login</a>
            </div>
        </div>
    </div>
</div>