<div id="forgot-password" class="flex-scrollable" layout="column" ms-scroll>
    <div id="forgot-password-form-wrapper" layout="column" layout-align="center center">
        <div id="forgot-password-form" class="md-whiteframe-8dp">
            <div class="logo md-accent-bg">
                <span>TD</span>
            </div>

            <div class="title">Recover your password</div>

            <form name="forgotPasswordForm" novalidate>
                <md-input-container class="md-block" md-no-float>
                    <label>Email or Mobile Number</label>
                    <input name="email" ng-model="vm.emailOrMobile" required>
                    <div ng-messages="forgotPasswordForm.email.$error" role="alert" multiple>
                        <div ng-message="required">
                            <span>Email or Mobile Number field is required</span>
                        </div>
                    </div>
                </md-input-container>

                <md-button class="md-raised md-accent submit-button" aria-label="SEND RESET CODE" ng-click="vm.sendResetCode()" ng-disabled="forgotPasswordForm.$invalid || forgotPasswordForm.$pristine">
                    SEND RESET CODE
                </md-button>
            </form>

            <div class="login" layout="row" layout-align="center center">
                <a class="link" ui-sref="app.pages_auth_login-v2">Go back to login</a>
            </div>
        </div>
    </div>
</div>