#techdiser-landing {
  // Main sidenav
  .left-sidenav {
    width: 220px;
    min-width: 220px;
    max-width: 220px;
    z-index: 51;
    box-shadow: $whiteframe-shadow-8dp;

    .header {
      height: 40px;
      min-height: 40px;
      max-height: 40px;
      padding: 2px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.12);

      .logo {
        .logo-icon {
          margin: 0 16px 0 0;
        }

        .header-title {
          font-size: 18px;
          padding-left: 10px;
        }
      }

      .account {
        .account-selection {
          margin: 0;
        }
      }
    }

    .content {
      padding: 0;
    }
  }
}
