#users {
  // Main sidenav
  .main-sidenav {
    width: 240px;
    min-width: 240px;
    max-width: 240px;
    z-index: 51;
    box-shadow: $whiteframe-shadow-8dp;

    .header {
      height: 76px;
      min-height: 76px;
      max-height: 76px;
      padding: 5px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.12);

      .logo {
        .logo-icon {
          margin: 0 16px 0 0;
        }

        .logo-text {
          font-size: 24px;
        }
      }

      .account {
        .account-selection {
          margin: 0;
        }
      }
    }
    .selected {
      background-color: rgba(3, 155, 229, 0.3);
      color: #000;
      font-weight: bold;
    }

    .content {
      padding: 16px 0;
    }
  }
}
