<md-dialog id="supply-definition" class="common-dialog" aria-label="Costing Head Dialog" data-drag="1" data-jqyoui-options jqyoui-draggable="{animate:true}">
    <form name="piHeadsForm" class="md-inline-form taskCardForm" novalidate>
        <md-toolbar class="md-accent" style="cursor:pointer;">
            <div class="md-toolbar-tools">
                <div>
                    <label>{{vm.title}}</label>
                </div>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="vm.closeDialog()" aria-label="Close Dialog">
                    <md-icon md-font-icon="icon-close"></md-icon>
                </md-button>

            </div>
        </md-toolbar>

        <div class="dialog-tree" layout="row" flex="100" ms-scroll>
            <div layout="column" flex="60" ms-scroll>
                <md-dialog-content ms-scroll>
                    <div class="search-input-wrapper" layout="row" layout-align="center center">
                        <label for="search">
                            <md-icon md-font-icon="icon-magnify"></md-icon>
                        </label>
                        <md-input-container md-no-float class="m-0 font-size-12">
                            <input id="search" placeholder="Search for Costing Heads.." type="text" ng-model="vm.preForma">
                        </md-input-container>
                    </div>
                    <div class="widget-group" layout="row" flex="100" layout-wrap>
                        <ms-widget ng-repeat="piHead in vm.piHeads | filter:vm.preForma |
                            orderBy: 'TECHDISER_SERIAL_NO'" class="buyer-card p-5 tags" flippable="false" layout="column">
                            <ms-widget-front class="white-bg h-40 w-400">
                                <div layout="row" flex="100" class="m-10">
                                    <div layout="column" flex="90">
                                        <span class="font-size-14">{{piHead.title}}</span>
                                    </div>
                                    <div layout="column" flex="10">
                                        <md-icon ng-if="piHead.TECHDISER_ID!=vm.selectedHeadId" style="position:relative;left:5px;" ng-click="vm.selectPiHead(piHead)" md-font-icon="icon-checkbox-blank-outline" class="icon">
                                        </md-icon>
                                        <md-icon ng-if="piHead.TECHDISER_ID==vm.selectedHeadId" style="position:relative;left:5px;" ng-click="vm.selectPiHead(piHead)" md-font-icon="icon-checkbox-marked-outline" class="icon md-accent">
                                        </md-icon>
                                    </div>
                                </div>
                            </ms-widget-front>
                        </ms-widget>
                    </div>
                </md-dialog-content>
            </div>
            <div layout="column" flex="40">
                <div ms-scroll class="ml-20 mt-10">
                    <span class="md-subhead">Selected PI Head</span>
                    <md-divider></md-divider>

                    <div ng-if="vm.selectedHeadId && vm.selectedPiHead" class="mt-5 widget-group" layout="row" flex="100" layout-wrap>
                        <ms-widget class="buyer-card tags" flippable="false" layout="column">
                            <ms-widget-front class="white-bg h-50 w-280">
                                <div layout="row" flex="100" class="m-10">
                                    <div layout="column" flex="90">
                                        <span class="font-size-14">{{vm.getPiHeadTitle(vm.selectedHeadId)}}</span>
                                    </div>
                                    <div layout="column" flex="10">
                                        <md-icon style="position:relative;left:-10px;" ng-click="vm.selectPiHead(vm.selectedPiHead);
                                            vm.selectedPiHead=null" md-font-icon="icon-cancel" class="icon red-500-fg">
                                        </md-icon>
                                    </div>
                                </div>
                            </ms-widget-front>
                        </ms-widget>
                    </div>
                </div>
            </div>
        </div>

    </form>
    <md-dialog-actions layout="row" layout-align="end center">
        <div layout="row" layout-align="start center">
            <md-button ng-click="vm.okPiHeads()" class="send-button md-accent md-raised" ng-disabled="piHeadsForm.$invalid" aria-label="ADD">
                <span>Ok</span>
            </md-button>
        </div>
    </md-dialog-actions>
</md-dialog>