<md-dialog id="dupro-setup" aria-label="Dialog" data-drag="true" jqyoui-draggable="{animate:true}" data-jqyoui-options="{ handle: '.drag-handle'}">

    <md-toolbar class="md-accent drag-handle" style="min-height: 40px !important;">
        <div class="md-toolbar-tools" style="max-height: 40px !important;" layout="row" layout-align="space-between center">
            <span class="title">{{vm.title}}</span>

            <md-button class="md-icon-button" ng-click="vm.closeDialog()">
                <md-icon md-font-icon="icon-close" aria-label="Close dialog"></md-icon>
            </md-button>
        </div>
    </md-toolbar>


    <md-dialog-content style="padding: 0; overflow:hidden;">
        <div layout="row" flex="100">

            <div flex ms-scroll style="min-height:500px;max-height:500px; min-width:500px;max-width:500px;">
                <!--  -->

                <div layout="row" layout-align="start center" style="min-height: 100%; height:100%; overflow:hidden; ">


                    <div class="left" style="min-height: 100%; height:100%; max-height: 100%; width: 100%;" layout="column" layout-align="start top">

                        <ms-widget layout="column" style="padding: 0; min-height: 100%; height:100%; width: 100%" layout-align="start top">

                            <ms-widget-front style="min-height: 100%; height:100%; width: 100%;" layout="column" layout-align="start top">

                                <div style="height: calc(100% - 50px);
                      max-height: calc(100% - 50px);
                      min-height: calc(100% - 50px);
                      width: 100%;" ms-scroll>

                                    <div class="ml-20" layout="column">
                                        <div layout="column" class="p-5 mt-5">

                                            <div layout="row" layout-align="start center" class="pl-5 mt-15">
                                                <span class="secondary-text w-120"> Title </span>
                                                <span class="secondary-text w-15"> : </span>
                                                <input name="title" placeholder=" Title" class="w-160 h-30" style="border-bottom: 1px solid #ddd;" ng-model="vm.duproInspection.title" type="text" aria-label="Title">
                                            </div>

                                            <div layout="row" layout-align="start center" class="pl-5 mt-15">
                                                <span class="secondary-text w-120"> Code </span>
                                                <span class="secondary-text w-15"> : </span>
                                                <input name="code" placeholder=" Code" class="w-160 h-30" style="border-bottom: 1px solid #ddd;" ng-model="vm.duproInspection.code" type="text" aria-label="Code">
                                            </div>

                                            <div layout="row" layout-align="start center" class="pl-5 mt-15">
                                                <span class="secondary-text w-120"> Description </span>
                                                <span class="secondary-text w-15"> : </span>
                                                <input name="description" placeholder=" Description" class="w-200 h-30" style="border-bottom: 1px solid #ddd;" ng-model="vm.duproInspection.description" type="text" aria-label="Code">
                                            </div>

                                            <div layout="row" layout-align="start center" class="pl-5 mt-15">
                                                <span class="secondary-text w-120"> Frequency </span>
                                                <span class="secondary-text w-15"> : </span>
                                                <input name="hourlyFrequency" placeholder=" Frequency" class="w-160 h-30" style="border: 0px; border-bottom: 1px solid #ddd;" ng-model="vm.duproInspection.hourlyFrequency" type="number" aria-label="Frequency">
                                            </div>

                                            <div layout="row" layout-align="start center" class="m-5 mb-10">
                                                <span class="secondary-text w-120"> Category </span>
                                                <span class="secondary-text w-15"> : </span>
                                                <div class="h-45" layout="row" layout-align="start center">
                                                    <md-input-container>
                                                        <md-select aria-label="Catalog" ng-model="vm.duproInspection.catalogId" class="w-200" ng-change="vm.getOrgJobsByCatalogId()">
                                                            <md-option ng-repeat="catalog in vm.catalogs" ng-value="catalog.TECHDISER_ID">
                                                                {{catalog.title}}
                                                            </md-option>
                                                        </md-select>
                                                    </md-input-container>
                                                </div>
                                            </div>

                                            <div class="pl-5 mt-15">
                                                <md-radio-group ng-model="vm.duproInspection.isOnlyJob" ng-change="vm.selectJob()" layout="column">

                                                    <md-radio-button style="margin : 0px;" flex value="1">Job</md-radio-button>

                                                    <div ng-if="vm.duproInspection.isOnlyJob == 1" layout="row" layout-align="start center" class="m-5 pl-25">
                                                        <span class="secondary-text w-90"> Job </span>
                                                        <span class="secondary-text w-15"> : </span>
                                                        <div class="h-30" layout="row" layout-align="start center">
                                                            <md-input-container>
                                                                <md-select aria-label="Job" ng-model="vm.duproInspection.jobId" class="w-200">
                                                                    <md-option ng-repeat="job in vm.jobWiseOperations" ng-value="job.TECHDISER_ID">
                                                                        {{job.title}}
                                                                    </md-option>
                                                                </md-select>
                                                            </md-input-container>
                                                        </div>
                                                    </div>

                                                    <md-radio-button style="margin : 0px; margin-top: 15px;" flex value="0">Process</md-radio-button>
                                                    <div ng-if="vm.duproInspection.isOnlyJob == 0" layout="row" layout-align="start center" class="m-5 pl-25">
                                                        <span class="secondary-text w-90"> Job </span>
                                                        <span class="secondary-text w-15"> : </span>
                                                        <div class="h-45" layout="row" layout-align="start center">
                                                            <md-input-container>
                                                                <md-select aria-label="Job" ng-model="vm.duproInspection.jobId" class="w-200" ng-change="vm.getJobProcessOperations()">
                                                                    <md-option ng-repeat="job in vm.jobWiseOperations" ng-value="job.TECHDISER_ID">
                                                                        {{job.title}}
                                                                    </md-option>
                                                                </md-select>
                                                            </md-input-container>
                                                        </div>
                                                    </div>
                                                    <div ng-if="vm.duproInspection.isOnlyJob == 0" layout="row" layout-align="start center" class="m-5 pl-25 mb-10">
                                                        <span class="secondary-text w-90"> Process </span>
                                                        <span class="secondary-text w-15"> : </span>
                                                        <div class="h-45" layout="row" layout-align="start center">
                                                            <md-input-container>
                                                                <md-select aria-label="Process" ng-model="vm.duproInspection.processId" class="w-200">
                                                                    <md-option ng-repeat="process in vm.getJobProcessOperations()" ng-value="process.TECHDISER_ID">
                                                                        {{process.title}}
                                                                    </md-option>
                                                                </md-select>
                                                            </md-input-container>
                                                        </div>
                                                    </div>

                                                </md-radio-group>
                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </ms-widget-front>
                        </ms-widget>
                    </div>
                </div>
                <!--  -->
            </div>

        </div>

    </md-dialog-content>


    <md-dialog-actions layout="row" layout-align="end center">

        <md-button ng-click="vm.addDuproInspection(vm.duproInspection)" class="md-raised" aria-label="Add">
            <span ng-if="vm.isNew">Add</span>
            <span ng-if="!vm.isNew">Update</span>
        </md-button>

    </md-dialog-actions>


</md-dialog>