#techdiser-landing {
  .center {
    position: relative;

    .header {
      position: relative;
      height: 40px;
      min-height: 40px;
      max-height: 40px;
      padding: 2px;

      .header-content {
        height: 100%;

        .header-title {
          font-size: 18px;
          padding-left: 10px;
        }

        .search-input-wrapper {
          position: relative;
          margin-right: 100px;

          label {
            padding-right: 4px;
            cursor: pointer;

            md-icon {
              color: rgba(255, 255, 255, 0.8);
            }
          }

          md-input-container {
            .md-errors-spacer {
              display: none;
            }

            input {
              border-bottom: 1px solid rgba(255, 255, 255, 0.8);
              color: rgba(255, 255, 255, 0.8);
              width: 240px;

              &::placeholder {
                color: rgba(255, 255, 255, 0.8);
              }

              &:focus {
                border-bottom: 1px solid white;
                color: white;
              }
            }
          }
        }
      }
    }

    .content {
      padding: 0;
      background: #fdfdfd;

      .component-header {
        .md-nav-bar {
          height: 30px;

          .md-button {
            line-height: 20px !important;
            min-height: 20px !important;
            font-size: 12px;
            padding: 5px 6px;
          }
        }
      }

      .component-filter-bar {
        z-index: 100;
        box-shadow: $whiteframe-shadow-8dp;
      }

      .common-list-items {
        .common-list-item {
          padding: 5px 5px 5px 24px;

          .info {
            .common-info {
            }

            .section-info {
              .tags {
                .tag {
                  margin: 0 5px 0 0;
                }
              }
            }
          }
          .buttons {
          }
        }
      }
    }
  }
}

// RESPONSIVE
@media screen and (max-width: $layout-breakpoint-md) {
  #techdiser-landing {
    .center {
      .header {
        .header-content {
        }
      }
    }
  }
}

@media screen and (max-width: $layout-breakpoint-sm) {
  #techdiser-landing {
    .center {
      .header {
        .header-content {
        }
      }
    }
  }
}
